* {
    margin  : 0;
    padding : 0;
}

#wrapper {
    margin-top: 25px;
    padding-top: 25px;
    width   : 460px;
    margin  : auto;
}

input {
    width   : 100%;
    padding : 5px 2px;
    border  : solid #dedede 1px;
    margin-bottom: 5px;
}

textarea {
    width   : 100%;
    padding : 5px 2px;
    height  : 100px; 
    border  : solid #ff0000 1px;
    margin-bottom: 10px;
}

.button {
    border          : solid #dedede 1px;
    background      : #eee;
    text-transform  : uppercase;
}

.opinion {
    margin-top: 10px;
}

.opinion-entry {
    margin-bottom: 15px;
    border-bottom: solid #dedede 1px;
}


.pagination {
    border: solid;
    text-decoration: none;
    color: #fff;
    background: #4485f5;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}