.dropdown--component {
    height      : 30px;
    line-height : 30px;
    cursor      : pointer;
}

.dropdown--component:hover {
    background  : #9ba5ad;
    color       : #fff;
}

.dropdown--wrap {
    width       : 400px;
    padding-left: 15px;
    margin-top  : 1px;
}

.dropdown--wrap-border {
    border      : solid #dedede 1px;
}

.dropdown--elemen:hover {
    background  : #fea090;
    color       : #fff; 
}


.visibility-hidden {
    visibility: hidden;
}


#dropdown--back {
    background  : #fea090;   
}