* {
    margin: 0;
    padding: 0;
}

#header {
    border-bottom: solid #dedede 3px;
    padding-bottom: 10px;
}

#content {
    
}

.wrapper {
    width           : 960px;
    margin          : auto;
    margin-bottom   : 28px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-25 {
    margin-bottom: 25px;
}

.category-placeholder--category {
    display         : inline-block;
    font-size       : 21px;
    text-transform  : uppercase;
    border          : solid #dedede 3px;
    padding         : 6px;
    font-weight     : bold;
    margin-right    : 8px;    
    cursor          : pointer;
}

#blog-post--content {
 width: 960px;
 margin: auto;   
}

.post {
    margin-bottom   : 26px;
    border          : solid #dedede 2px;
    padding         : 10px;
}


.post:hover {
    background: #dedede;
    font-weight: bold;
    cursor: pointer;
}

.post-title {
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content {
    font-size: 21px;
}

.input {
    display         : block;
    width           : 100%;
    margin-bottom   : 10px;
    padding         : 5px;
}

.submit {
    width           : 100%;
    background      : #dedede;
    text-transform  : uppercase;
    border          : none;
    padding         : 5px 0;
    font-weight     : bold;    
}

#signup--wrapper {
    margin          : auto;
    width           : 250px;
}


.db-error {
    font-weight: bold;
    border: solid 2px #000;
    background: #e54d2;
    text-transform: uppercase;
    padding: 5px;
}

.form-error {
    font-weight : bold;
    color       : #ff0000;
}


.list-item {
    background  : #2071c5;
    display     : inline-block;
    color       : #fff;
}


.list-item a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.logo {
    display: inline-block;
    margin-right: 24px;
}

#cms-manager {
    display: inline-block;
}


.btn {
    background: #2071c5;
    display: inline-block;
    color: #fff;    
    padding: 10px;
    text-decoration: none;
}



.pagination {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-transform: lowercase;
    background: #dedede;
    border: solid #d91b5c 1px;
    text-decoration: none;
    color: #000;
}

.pagination:hover {
    background: #2071c5;
    color : #fff;
}




#cms--menu li {
   display          : inline-block;
   text-transform   : uppercase;
   margin: 0 5px;
}

#cms--menu li:hover {
    cursor: pointer;
    text-decoration: underline;
}