* {
    margin  : 0;
    padding : 0;
}

#header {
    padding         : 7px;
    background      : #dedede;
    border-bottom   : solid #000;
}

#slogan {
    width: 300px;
    display: inline-block;
}

#top--navigation {
    float: right;
}

#top--navigation ul li {
    display: inline-block;
}