* {
    margin: 0;
    padding: 0;
}

#header {
    
}

#content {
    
}

#category-placeholder {
    width           : 960px;
    margin          : auto;
    margin-bottom   : 28px;
}

.category-placeholder--category {
    display         : inline-block;
    font-size       : 21px;
    text-transform  : uppercase;
    border          : solid #dedede 3px;
    padding         : 6px;
    font-weight     : bold;
    margin-right    : 8px;    
    cursor          : pointer;
}


#blog-post--content {
 width: 960px;
 margin: auto;   
}

.post {
    margin-bottom: 26px;
}

.post-title {
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content {
    font-size: 21px;
}